<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>
	<p>Registrate</p>
	<div class="alert alert-success" *ngIf="status == 'success'">
		<p>El registro se completo correctamente</p>
		<a [routerLink]="['/login']">Log in</a>
	</div>
		<div class="alert alert-danger" *ngIf="status == 'error'">
		<p>El registro fallo</p>
		
	</div>
	<form class="col-md-5 ml-0 pl-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
		<div class="form-group">
			<label class="form-check-label" for="name">Nombre del usuario</label>
			<input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
			<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es valido</small>
		</div>
		<div class="form-group">
			<label class="form-check-label" for="surname">Apellido</label>
			<input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+">
			<small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">El apellido no es valido</small>
		</div>
		<div class="form-group">
			<label class="form-check-label" for="role">Rol</label>
			<input type="text" class="form-control" name="role" value="employee" readonly="true">
			
		</div>
		<div class="form-group">
			<label class="form-check-label" for="email">Correo electronico</label>
			<input type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required />
			<small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El email no es valido</small>
		</div>
		<div class="form-group">
			<label class="form-check-label" for="password">Contraseña</label>
			<input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required >
			<small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">La password no es valida</small>
		</div>
		<!--<p>
			<label class="form-check-label" for="description"></label>
			<input type="text" class="form-control" name="description">
		</p>
		<p>
			<label class="form-check-label" for="image"></label>
			<input type="file" class="form-control" name="image">
		</p>-->
		<input type="submit" class="btn btn-success"  value="Registrate" [disabled]="registerForm.invalid">
	</form>
</div>


