<div class="container">
  <br>
  <nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
    <a class="navbar-brand" href="#">
  <a class="navbar-brand" href="#">
    <img src="https://i0.pngocean.com/files/845/804/938/shopify-logo-e-commerce-marketing-point-of-sale-marketing.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>Ventas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Inventario</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-toggler-right" *ngIf="!identity">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Identificate <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Resgistrate</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-toggler-right" *ngIf="identity && identity.name">
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ingresar venta</a>
          <a class="dropdown-item" href="#">Ver ventas</a>
          <a class="dropdown-item" href="#">Ingresar aticulo a inventario</a>
          <a class="dropdown-item" href="#">Ver inventario</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Mi perfil</a>
          <a class="dropdown-item" href="#">Ajustes</a>
          <a class="dropdown-item" href="#">Salir</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"  *ngIf="identity && identity.name">{{identity.name + ' '+ identity.surname}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="['/logout/1']" *ngIf="identity && identity.name">Cerrar sesion</a>
      </li>
    </ul>
    </div>
  </nav>

  <!---->
<router-outlet></router-outlet>
</div>